<div class="container">

  <div class="tops col-md-12">
    <img src="../assets/images/bo_back.jpg" class="tops">
  </div>

  <div class="row">
    <div class="col-md-3 bg-warning" ng-hide="mainCtrl.isAdmin">
      <br>
      <h4>Book tickets in 4 simple steps!</h4>
      <ul class="list-group">
        <li class="list-group-item" style="line-height:4em;">
          <span class="glyphicon glyphicon-play"></span> &nbsp; Pick Movie
        </li>
        <li class="list-group-item" style="line-height:4em;">
          &nbsp;&nbsp;&nbsp; Pick Theatre
        </li>
        <li class="list-group-item" style="line-height:4em;">
          &nbsp;&nbsp;&nbsp; Pick Seat
        </li>
        <li class="list-group-item" style="line-height:4em;">
          &nbsp;&nbsp;&nbsp; Payment
        </li>
      </ul>
    </div>
    <div class="col-md-3" ng-show="mainCtrl.isAdmin">
    <h4>Admin options:</h4>
      <ul class="list-group">
        <li class="list-group-item" style="line-height:4em;">
          <a href="/movies">
            <span class="glyphicon glyphicon-play"></span> &nbsp; Add Movie
          </a>
        </li>
        <li class="list-group-item" style="line-height:4em;">
          <a href="/theatres">
            <span class="glyphicon glyphicon-play"></span> &nbsp; Add Theatre
          </a>
        </li>
        <li class="list-group-item" style="line-height:4em;">
          <a href="/theatremapping">
            <span class="glyphicon glyphicon-play"></span> &nbsp; Movie Mapping
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-8">
      <h2 class="col-md-12" style="text-decoration:underline;">Now Showing</h2>
      <div class="movie col-md-3" ng-repeat="m in mainCtrl.moviess">

        <div data-toggle="modal" data-target="#myModal" ng-click="mainCtrl.getMovie(m._id)">
          <img src="https://image.tmdb.org/t/p/w500/{{m.Poster}}" alt="{{m.MovieName}}" class='mposter'>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title"></h4>
              </div>
              <div class="modal-body">
                <img id="pos" style="margin-bottom:50px;width:30%;" class="col-md-2">
                <div id="genre">
                </div>
                <br>
                <p id="desc"></p>
                <br>
                <b>Duration:</b> <span id="dur"></span> minutes
                <br><br>
                <button type="button" class="btn btn-warning pull-right" data-dismiss="modal" ng-click="mainCtrl.movieDone()">Get Tickets</button>
                <br><br>
              </div>
            </div>

          </div>
        </div>
        <br><br><br>
      </div>

    </div>
  </div>

</div>
